# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

config.toml
cmd/ldap_matrix_rest/ldap_matrix_rest
cmd/ldap_ovpn/ldap_ovpn